---
title:
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><% if(title){ %><%= title %> – <% } %>A Snipcart and 11ty demo</title>
	<link rel="stylesheet" type="text/css" href="/assets/site.css" />
	<link rel="icon" href="/assets/logo-black.png" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="MzMxN2Y0ODMtOWNhMy00YzUzLWFiNTYtZjMwZTRkZDcxYzM4"></script>
	<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/assets/prism.css" />
</head>
<body>
	<div class="main">
		<header>
			<% if(page.url == '/'){ %><h1 class="title"><% } else { %><p class="title"><% } %>
				<a href="/">Demo store for devs of every hair styles</a>
			<% if(page.url == '/'){ %></h1><% } else { %></p><% } %>
		</header>
		<section class="content">
			<%- content %>
		</section>
		<footer>
			<p>
				Made with a few ☕️ at <a href="https://snipcart.com/">Snipcart</a>
			</p>
			<p>
				Read <a href="https://snipcart.com/blog/11ty-javascript-static-site-generator-tutorial">our blog post on 11ty</a> or go see
				<a href="https://github.com/snipcart/snipcart-11ty-demo">the demo's repo</a>
			</p>
		</footer>
	</div>
</body>
</html>