---
layout: default.ejs
---
<section class="top">
	<h1>{{name}}</h1>
</section>
<section class="list-group">
	<img src="{{image}}" alt="{{name}}" />
	<div>
		<p>
			Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
			totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
			dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
			sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
		</p>
		<p>
			<button class="snipcart-add-item"
					data-item-id="11ty-{{page.fileSlug}}"
					data-item-name="{{name}}"
					data-item-price="{{price}}"
					data-item-image="{{config.siteUrl}}{{image}}"
					data-item-url="{{config.siteUrl}}/products.json">
				Buy for {{price}}$
			</button>
		</p>
	</div>
</section>

<section>
		<h2>Code of the Buy Button</h2>
		{% highlight "markup" %}
<button class="snipcart-add-item"
		data-item-id="11ty-{{page.fileSlug}}"
		data-item-name="{{name}}"
		data-item-price="{{price}}"
		data-item-image="{{config.siteUrl}}{{image}}"
		data-item-url="{{config.siteUrl}}/products.json">
	Buy for {{price}}$
</button>
		{% endhighlight %}
</section>